/* Nav Menu Correction */
.ui.menu{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* Footer */
.footer{
    margin-top: 3em;
    margin-bottom: 2em;
}

#content{
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 60em;
}
.ui.action.input input[type="file"] {
    display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
    text-align: left;
}